html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#text{ 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 480px;
  right: 0;
  width: 660px;
  height: 100px;
  border: 3px solid #73AD21;
}