body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;  /* Beige */
    color: #333;
}

nav {
    background-color: #6b8e23;  /* Olive Drab */
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #556b2f;  /* Dark Olive Green */
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    max-width: 1200px;  /* Increased max-width */
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

img {
    width: 60%;  /* Increased width */
    max-width: 600px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
